body {
  width: 100%;
  margin: 0 auto;
  font-family: Lato, sans-serif;
  background-color: #2d303a;
}

a {
  color: aliceblue;
  text-decoration: none;
}

iframe {
  border: none;
  width: 100%;
}

/* Header */

.logo {
  margin-left: 20px;
}

.logo-image {
  width: 160px;
}

header {
  background-color: #2d303a;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.menu {
  color: white;
  font-size: 12px;
}

.navigation {
  margin-right: 40px;
}

li.nav-item {
  display: inline;
  cursor: pointer;
}

li.nav-item a:hover {
  color: #fcd3b3;
}

li.nav-item::after {
  content: "·";
  font-weight: 700;
  margin-left: 13px;
  margin-right: 13px;
}

li.nav-item:last-child::after {
  content: none;
}

/* Consultation */

.consultation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #989ba9;
  background-image: url(assets/consultation.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 160px 30px;
}

.consultation-description {
  width: 70%;
  text-align: center;
  color: #2d303a;
  padding: 20px 40px;
}

.order {
  margin-top: 20px;
  height: 60px;
  background-color: #2d303abf;
  box-shadow: 4px 4px #2d303a2e;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.order:hover {
  background-color: #2d303ac2;
  border: 1px solid #767e9e;
}

/* Services */

.services {
  background-color: #f2f2f2;
  padding: 20px 30px;
}

.services-title {
  color: #666d89;
  font-size: 30px;
}

.services-description {
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  line-height: 30px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;
}

.service {
  display: flex;
  width: 33.3%;
  margin: 0 20px 20px 0;
  justify-content: space-between;
}

.service-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.service-icon img {
  width: 40px;
  height: 40px;
}

.service-name {
  color: #666d89;
  font-size: 18px;
}

.service-content {
  width: 220px;
}

.service-description {
  color: #767e9e;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
}

/* Footer */
footer {
  height: 76px;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #666d89;
  font-size: 13px;
  line-height: 18px;
  margin-left: 40px;
}

.social-buttons {
  margin-right: 42px;
}

/* Articles */

.page-title {
  background-color: #f2f2f2;
  padding: 20px 30px;
  margin: 0;
}

.articles {
  background-color: #f2f2f2;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  width: 450px;
  margin: 40px 20px;
  padding: 20px;
  border: 1px solid #767e9e;
  border-radius: 10px;
  box-shadow: 5px 4px #00000017;
  background-color: #ffffff;
}

.article-icon img {
  height: 200px;
}

.service-description a,
.contact-details h4 a {
  color: #2d303a;
}

.service-description a:hover,
.contact-details h4 a:hover {
  color: #9a9a9a8c;
}

/* Contacts */

.contacts {
  background-color: #f2f2f2;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

.info {
  display: flex;
}

.photo {
  margin-right: 50px;
}

.photo img {
  width: 500px;
}

.social-ico {
  width: 30px;
  margin-right: 20px;
}

/* Help */

.help {
  background-color: #f2f2f2;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.consultation-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #989ba9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/consultation.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 100px 30px;
}

.consultation-help h3 {
  color: aliceblue;
}

.details {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  animation: openclose 10s ease-in-out infinite;
  position: absolute;
  margin: 25px 40px;
  height: 150px;
  display: block;
  position: absolute;
}

.details div {
  display: flex;
  justify-content: space-between;
}

.details img {
  margin-left: 5%;
}

.mentions {
  /* width: 35%; */
  margin-right: 20px;
}

.symptoms {
  margin-bottom: 20px;
}

.consultation-acro {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #989ba9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/acro.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 50px 30px;
  color: aliceblue;
  height: 300px;
}

.animation {
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 100%;
}

/* About */

.about {
  background-color: #f2f2f2;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

@keyframes openclose {
  0% {
    top: 0;
    width: 395px;
  }
  25% {
    top: 0;
    width: 395px;
  }
  35% {
    top: -320px;
    width: 395px;
  }
  70% {
    top: -320px;
    width: 395px;
  }
  80% {
    top: -600px;
    width: 395px;
  }
  95% {
    top: -600px;
    width: 395px;
  }
  100% {
    top: 0;
    width: 395px;
  }
  /* 50% {
    width: 400px;
  }
  70% {
    top: -790px;
    width: 0;
  }
  85% {
    width: 400px;
  } */
}
